
<div>
<head>
	<title>About Us</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
			color: #333333;
			margin: 0;
			padding: 0;
		}

		.container {
			max-width: 960px;
			margin: 0 auto;
			padding: 20px;
		}

		h1 {
			font-size: 36px;
			font-weight: bold;
			text-align: center;
			margin-top: 50px;
		}

		h2 {
			font-size: 24px;
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: 20px;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			margin-top: 0;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>About Us</h1>

		<h2>Introduction</h2>
		<p>Our website is designed to simplify the process of enrolling in courses and managing academic schedules. Our platform offers an option for users to create an account, access their catalog of courses, and view their enrolled courses and schedule.</p>

		<h2>Motivation</h2>
		<p>We want to create a website that makes it easy for students to sign up for classes. We're basing it off of another website called PAWS. Our goal is to make it simple for students to find and enroll in the classes they want. By doing this, we hope to make the whole process less complicated and help students succeed in school. We're going to work hard to make sure the website is easy to use and meets the needs of all students.</p>

		<h2>Objective</h2>
		<p>Our objective is to provide our clients with the tools and resources they need to achieve their goals. In order to build a functional course catalog where you are able to choose from different classes and add them to your own schedule.</p>

		<h2></h2>
		<p></p>
	</div>
</body>
</div>
