<div class="login-signup row row-col-auto justify-content-evenly">
  <div class="row">
    <form class="form login-form">
      <div class="form-group">
        <h2 class="login-text">Login</h2>
        <label for="email-login" class="login-text">Email:</label><br />
        <input
          class="form-input"
          type="text"
          id="email-login"
          name="email-login"
        />
      </div>
      <div class="form-group">
        <label for="password-login" class="login-text">Password:</label><br />
        <input
          class="form-input"
          type="password"
          id="password-login"
          name="password-login"
        />
      </div><br />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="row">
    <form class="form signup-form">
      <div class="form-group">
        <h2 class="login-text">Signup</h2>
        <label for="name-signup" class="login-text">Name:</label><br />
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="login-text">Email:</label><br />
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="login-text">Password:</label><br />
        <input class="form-input" type="password" id="password-signup" />
      </div><br />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>